
<div class="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage">
          <h2>Add new customers</h2>
        </div>
      </div>
      <div class="container-fluid">
        <div class="container mt-4">
          <div class="row w-50 mx-auto" style="background-color: white">
            <div class="col-lg-12">
              <form action="" method="post">

                <div class="mb-2">
                  <label class="form-label">Tên khách hàng</label>
                  <input type="text" class="form-control"/>
                </div>

                <div class="mb-2">
                  <label class="form-label">Ngày sinh</label>
                  <input type="date" class="form-control"/>
                </div>

                <div class="mb-2">
                  <label class="form-label">Giới tính: </label>
                  <input class="form-check-input" type="radio" value="1"> Nam
                  <input class="form-check-input" type="radio" value="0"> Nữ
                </div>

                <div class="mb-2">
                  <label class="form-label">Số CMND</label>
                  <input type="text" class="form-control"/>
                </div>

                <div class="mb-2">
                  <label class="form-label">Số điện thoại</label>
                  <input type="text" class="form-control"/>
                </div>

                <div class="mb-2">
                  <label class="form-label">Email</label>
                  <input type="text" class="form-control"/>
                </div>

                <div class="mb-2">
                  <label class="form-label">Địa chỉ</label>
                  <textarea type="text" class="form-control"></textarea>
                </div>

                <div class="mb-2">
                  <label class="form-label">Kiểu khách hàng</label>
                  <select class="form-select">
                    <option value="">Chọn kiểu khách hàng</option>
                    <option>Diamond</option>
                    <option>Platinium</option>
                    <option>Gold</option>
                    <option>Silver</option>
                    <option>Member</option>
                  </select>
                </div>
                <br>
                <div style="text-align: center">

                  <a routerLink="/customer/list"><input class="btn btn-success mx-2" type="button" value="Back"></a>
                  <button type="submit" class="btn btn-success">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
