
<div class="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage">
          <h2>Add new customers</h2>
        </div>
      </div>
      <div class="container-fluid">
        <div class="container mt-4">
          <div class="row w-50 mx-auto" style="background-color: white">
            <div class="col-lg-12">
              <form [formGroup]="customerForm" (ngSubmit)="submit()">
                <div class="mb-2">
                  <label for="name" class="form-label">Name Customer</label>
                  <input id="name" name="name" type="text" class="form-control"
                         formControlName="name"/>
                  <div class="mb-4 text-danger"
                       *ngIf="customerForm.controls.name.hasError('required') && (customerForm.controls.name.touched)">
                    *Name is required!
                  </div>
                  <div class="mb-4 text-danger"
                       *ngIf="customerForm.controls.name.hasError('pattern') && customerForm.controls.name.touched">
                    *The first letter of the name must be capitalized!
                  </div>
                </div>

                <div class="mb-2">
                  <label for="dateOfBirth" class="form-label">Date Of Birth</label>
                  <input id="dateOfBirth" name="dateOfBirth" type="date" class="form-control"
                         formControlName="dateOfBirth"/>
                  <div class="mb-4 text-danger"
                       *ngIf="customerForm.controls.dateOfBirth.hasError('required') && (customerForm.controls.dateOfBirth.touched)">
                    *Date Of Birth is required!
                  </div>
                  <div class="mb-4 text-danger"
                       *ngIf="customerForm.controls.dateOfBirth.hasError('dateOfBirth') && customerForm.controls.dateOfBirth.touched">
                    *You are under 18 years old or you entered the wrong date of birth!
                  </div>
                </div>

                <div class="mb-2">
                  <label  class="form-label">Gender: </label>
                  <input name="gender" class="form-check-input" type="radio" value="Nam" formControlName="gender"/> Nam
                  <input name="gender" class="form-check-input" type="radio" value="Nữ" formControlName="gender"/> Nữ
                </div>

                <div class="mb-2">
                  <label for="idCard" class="form-label">ID Card</label>
                  <input id="idCard" name="idCard" type="text" class="form-control"
                         formControlName="idCard"/>
                  <div class="mb-4 text-danger"
                       *ngIf="customerForm.controls.idCard.hasError('required') && (customerForm.controls.idCard.touched)">
                    *ID Card is required!
                  </div>
                  <div class="mb-4 text-danger"
                       *ngIf="customerForm.controls.idCard.hasError('pattern') && customerForm.controls.idCard.touched">
                    *ID Card invalidate!
                  </div>
                </div>

                <div class="mb-2">
                  <label for="phoneNumber" class="form-label">Phone Number</label>
                  <input id="phoneNumber" name="phoneNumber" type="text" class="form-control"
                         formControlName="phoneNumber"/>
                  <div class="mb-4 text-danger"
                       *ngIf="customerForm.controls.phoneNumber.hasError('required') && (customerForm.controls.phoneNumber.touched)">
                    *PhoneNumber is required!
                  </div>
                  <div class="mb-4 text-danger"
                       *ngIf="customerForm.controls.phoneNumber.hasError('pattern') && customerForm.controls.phoneNumber.touched">
                    *Phone numbers that start with 090 or 091 include 9 - 11 numbers!
                  </div>
                </div>

                <div class="mb-2">
                  <label for="email" class="form-label">Email</label>
                  <input id="email" name="email" type="email" class="form-control"
                         formControlName="email"/>
                  <div class="mb-4 text-danger"
                       *ngIf="customerForm.controls.email.hasError('required') && (customerForm.controls.email.touched)">
                    *Email is required!
                  </div>
                  <div class="mb-4 text-danger"
                       *ngIf="customerForm.controls.email.hasError('email') && customerForm.controls.email.touched">
                    *Email invalidate!
                  </div>
                </div>

                <div class="mb-2">
                  <label for="address" class="form-label">Address</label>
                  <textarea id="address" name="address" type="text" class="form-control"
                            formControlName="address"></textarea>
                  <div class="mb-4 text-danger"
                       *ngIf="customerForm.controls.address.hasError('required') && (customerForm.controls.address.touched)">
                    *Address is required!
                  </div>
                </div>

                <div class="mb-2">
                  <label for="customerType" class="form-label">Customer Type</label>
                  <select id="customerType" name="customerType" class="form-select" formControlName="customerType">
                    <option selected value="" disabled>---Choose customer type---</option>
                    <option *ngFor="let i of customerTypes" [ngValue]="i">{{i.name}}</option>
                  </select>
                  <div class="mb-4 text-danger"
                       *ngIf="customerForm.controls.customerType.hasError('required') && (customerForm.controls.customerType.touched)">
                    *Customer Type is required!
                  </div>
                </div>
                <br>
                <div style="text-align: center">
                  <a routerLink="/customer/list"><input class="btn btn-success mx-2" type="button" value="Back"></a>
                  <button type="submit" class="btn btn-success" [disabled]="!customerForm.valid">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
